# The rclone remote that points at the private backup bucket.
BACKUP_REMOTE=<rclone-remote>
BACKUP_BUCKET=<bucket>
AGE_RECIPIENT=<age-recipient>

AGE_IDENTITY_FILE=/var/lib/personalcrm/.config/personalcrm-backup/age.key
CRM_ENV_FILE=/srv/personalcrm/.env
PG_EXEC='podman exec -i crm-postgres'
PG_USER=crm_user
PG_DB=personal_crm
VERIFY_DB=personal_crm_verify
BACKUP_MAX_AGE_HOURS=36
VERIFY_CONTACT_TOLERANCE_PCT=5
ZSTD_LEVEL=3
